body {
  font-size: 16px;
}

.container {
  background-color: #8395a7;
  border: 4px solid #222f3e;
  /* height: 400px; */
}

.container > div {
  font-size: 1.4em;
  color: white;
  padding: 10px;
  text-align: center;
}

.search {
  background-color: #01a2a4;
}

.home {
  background-color: #ff9f43;
}

.login {
  background-color: #f368e0;
}
